<!--Active range -->
{% for ranges in RequiredItems.RangesList %}
    {% if ranges != '' %}
        <script>
           $('#active-range'+"{{ ranges }}").css('color','#00B050');
       </script>
    {% endif %}
{% endfor %}


{% if request.GET.range == '11' %}
    <style>
        #active-range11{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '12' %}
    <style>
        #active-range12{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '13' %}
    <style>
        #active-range13{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '14' %}
    <style>
        #active-range14{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '21' %}
    <style>
        #active-range21{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '22' %}
    <style>
        #active-range22{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '23' %}
    <style>
        #active-range23{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '24' %}
    <style>
        #active-range24{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '31' %}
    <style>
        #active-range31{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '32' %}
    <style>
        #active-range32{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '33' %}
    <style>
        #active-range33{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '34' %}
    <style>
        #active-range34{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '41' %}
    <style>
        #active-range41{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '42' %}
    <style>
        #active-range42{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '43' %}
    <style>
        #active-range43{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '44' %}
    <style>
        #active-range44{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '51' %}
    <style>
        #active-range51{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '52' %}
    <style>
        #active-range52{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '53' %}
    <style>
        #active-range53{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '54' %}
    <style>
        #active-range54{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '61' %}
    <style>
        #active-range61{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '62' %}
    <style>
        #active-range62{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '63' %}
    <style>
        #active-range63{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.range == '64' %}
    <style>
        #active-range64{
            color: #00B050 !important;
        }
    </style>

{% endif %}



<!--Active sort-->
{% for sorts in RequiredItems.SortsList %}
    {% if sorts != '' %}
       <script>
           $('#active-sort'+"{{ sorts }}").css('color','#00B050');
       </script>
    {% endif %}
{% endfor %}

{% if request.GET.sort == '11' %}
    <style>
        #active-sort11{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '12' %}
    <style>
        #active-sort12{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '13' %}
    <style>
        #active-sort13{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '14' %}
    <style>
        #active-sort14{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '21' %}
    <style>
        #active-sort21{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '22' %}
    <style>
        #active-sort22{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '23' %}
    <style>
        #active-sort23{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '24' %}
    <style>
        #active-sort24{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '31' %}
    <style>
        #active-sort31{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '32' %}
    <style>
        #active-sort32{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '33' %}
    <style>
        #active-sort33{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '34' %}
    <style>
        #active-sort34{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '41' %}
    <style>
        #active-sort41{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '42' %}
    <style>
        #active-sort42{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '43' %}
    <style>
        #active-sort43{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '44' %}
    <style>
        #active-sort44{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '51' %}
    <style>
        #active-sort51{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '52' %}
    <style>
        #active-sort52{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '53' %}
    <style>
        #active-sort53{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '54' %}
    <style>
        #active-sort54{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '61' %}
    <style>
        #active-sort61{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '62' %}
    <style>
        #active-sort62{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '63' %}
    <style>
        #active-sort63{
            color: #00B050 !important;
        }
    </style>
{% elif request.GET.sort == '64' %}
    <style>
        #active-sort64{
            color: #00B050 !important;
        }
    </style>
{% endif %}