<!--Sub in menu 1-->
<div class="sub-in-menu-wrapper" id="subinmenu1" style="display: none">
{% for d in sim1 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim1flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim1flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 2-->
<div class="sub-in-menu-wrapper" id="subinmenu2" style="display: none">
{% for d in sim2 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim2flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim2flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 3-->
<div class="sub-in-menu-wrapper" id="subinmenu3" style="display: none">
{% for d in sim3 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim3flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim3flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 4-->
<div class="sub-in-menu-wrapper" id="subinmenu4" style="display: none">
{% for d in sim4 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim4flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim4flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 5-->
<div class="sub-in-menu-wrapper" id="subinmenu5" style="display: none">
{% for d in sim5 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim5flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim5flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 6-->
<div class="sub-in-menu-wrapper" id="subinmenu6" style="display: none">
{% for d in sim6 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim6flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim6flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 7-->
<div class="sub-in-menu-wrapper" id="subinmenu7" style="display: none">
{% for d in sim7 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim7flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim7flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 8-->
<div class="sub-in-menu-wrapper" id="subinmenu8" style="display: none">
{% for d in sim8 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim8flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim8flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 9-->
<div class="sub-in-menu-wrapper" id="subinmenu9" style="display: none">
{% for d in sim9 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim9flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim9flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 10-->
<div class="sub-in-menu-wrapper" id="subinmenu10" style="display: none">
{% for d in sim10 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim10flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim10flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 11-->
<div class="sub-in-menu-wrapper" id="subinmenu11" style="display: none">
{% for d in sim11 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim11flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim11flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 12-->
<div class="sub-in-menu-wrapper" id="subinmenu12" style="display: none">
{% for d in sim12 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim12flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim12flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 13-->
<div class="sub-in-menu-wrapper" id="subinmenu13" style="display: none">
{% for d in sim13 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim13flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim13flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 14-->
<div class="sub-in-menu-wrapper" id="subinmenu14" style="display: none">
{% for d in sim14 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim14flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim14flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 15-->
<div class="sub-in-menu-wrapper" id="subinmenu15" style="display: none">
{% for d in sim15 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim15flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim15flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 16-->
<div class="sub-in-menu-wrapper" id="subinmenu16" style="display: none">
{% for d in sim16 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim16flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim16flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 17-->
<div class="sub-in-menu-wrapper" id="subinmenu17" style="display: none">
{% for d in sim17 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim17flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim17flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 18-->
<div class="sub-in-menu-wrapper" id="subinmenu18" style="display: none">
{% for d in sim18 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim18flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim18flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 19-->
<div class="sub-in-menu-wrapper" id="subinmenu19" style="display: none">
{% for d in sim19 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim19flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim19flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 20-->
<div class="sub-in-menu-wrapper" id="subinmenu20" style="display: none">
{% for d in sim20 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim20flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim20flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 21-->
<div class="sub-in-menu-wrapper" id="subinmenu21" style="display: none">
{% for d in sim21 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim21flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim21flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>

<!--Sub in menu 22-->
<div class="sub-in-menu-wrapper" id="subinmenu22" style="display: none">
{% for d in sim22 %}
  <div class="form-check" onclick="showUncheckMessage('{{ d.id }}')">
    <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input data-item-checklist" type="checkbox" value="{{ d.label }}" id="sim22flexCheckChecked{{ forloop.counter }}">
    <label class="form-check-label" for="sim22flexCheckChecked{{ forloop.counter }}">
      {{ d.label }}
    </label>
  </div>
{% endfor %}
</div>
