{% extends 'base.html' %}
{% load static %}
{% block title %}BankInsights{% endblock %}
{% block scripts %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/i18n/defaults-*.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

{% endblock %}
{% block styles %}
  <style>
     @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        
        body{
            
            font-family: 'Times New Roman', Times, serif;
            font-family: 'Roboto', sans-serif;
            background-color: #F1F2F4;
            overflow-x: hidden;
        }
        .navbar{
            height: 70px;
            background-color: white;
        }
        .navbar-brand{
          color: #3C3B6E !important;
          border: 4px solid #3C3B6E;
          padding-left: 8px;
          padding-right: 8px;
        }
        .navbar-nav{
          background-color: white;
        }
        .socail-icon{
          font-size: 24px;
        }
        .header-section{
          background-color: white;
          border-radius: 10px;
          margin-top: 130px;
          box-shadow: -4px 2px 12px 0px rgba(0,0,0,0.2);
          -webkit-box-shadow: -4px 2px 12px 0px rgba(0,0,0,0.2);
          -moz-box-shadow: -4px 2px 12px 0px rgba(0,0,0,0.2);
          padding: 40px !important;
        }
        .header-section h2{
          float: left;
          font-size: 25px !important;
          text-decoration: underline;
        }
        .header-section h3{
          font-size: 18px!important;
          text-decoration: underline;
        }
        .header-section h4{
          font-size: 16px!important;
          color: grey;
        }
        
        .btn:hover{
          color: white !important;
          opacity: 0.8 !important;
        }
        .button-top{
          margin-left: 15px;
          background-color: #3C3B6E !important;
          color: white !important;
        }
        select,
          select option {
            color: #3C3B6E;
          }
        select:invalid,select option[value=""] {
          color: #999999 !important;
        }
        select{
          border: 1px solid #212529 !important;
        }
        input{
          border: 1px solid #212529 !important;
        }
        input::placeholder{
          color: #999999 !important;
        }
        select:focus{
          border: 1px solid #3C3B6E !important;
        }
        .form-inline-select{
          width: 300px;
        }
        .list-menu-wraper{
          padding: 2px;
          width: 350px;
          border: 1px solid #212529;
          border-radius: 5px;
          float: left;
        }
        .list-menu-wraper p{
          display: block;
          text-decoration: none;
          padding: 3px;
          margin: 0px;
          color: #212529;
        }
        .list-menu-wraper p:hover{
          background-color: #3C3B6E;
          color: white;
          cursor: pointer;
        }
        .list-menu-wraper p i{
          float: right;
        }
        /*sub menu*/
        .sub-menu-wrapper{
          padding: 2px;
          width: 350px;
          border: 1px solid #212529;
          border-radius: 5px;
          float: left;
          margin-left: 5px;
        }
        .sub-menu-wrapper p{
          display: block;
          text-decoration: none;
          padding: 3px;
          color: #212529;
          margin: 0px;
        }
        .sub-menu-wrapper p:hover{
          background-color: #3C3B6E;
          color: white;
          cursor: pointer;
        }
        .sub-menu-wrapper p i{
          float: right;
        }
        .menu-active-class{
          background-color: #3C3B6E;
          color: white !important;
        }
        .sub-in-menu-wrapper{
          padding: 2px;
          width: 350px;
          border: 1px solid #212529;
          border-radius: 5px;
          float: left;
          margin-left: 5px;
        }
        input[type="checkbox"]:checked{
          background-color: #3C3B6E;
          border-color: #3C3B6E;
        }
        .footer{
          height: 60px;
          width: 100%;
          background-color: white;
          margin-top: 60px;
          line-height: 60px;
        }
        .footer p{
          text-align: center;
          font-weight: 400;
          font-size: 14px;
        }
        input[type='radio']:checked{
          background-color: #3C3B6E;
        }
        .search-display{
          width: 100%;
          background-color: white;
          border-radius: 2px;
          position: absolute;
          top: 40px;
          box-shadow: -4px 2px 12px 0px rgba(0,0,0,0.1);
          -webkit-box-shadow: -4px 2px 12px 0px rgba(0,0,0,0.1);
          -moz-box-shadow: -4px 2px 12px 0px rgba(0,0,0,0.1);
          overflow: hidden;
        }
        .search-display p{
          display: block;
          font-size: 16px;
          margin: 0px;
          padding-left: 7px;
          padding-right: 7px;
        }
        .search-display p:hover{
          background-color: #3C3B6E;
          color: white;
          cursor: pointer;
        }
        .selecteddata{
          color: #1b1b1b;
        }
        .disable{
          pointer-events: none;
          color:#AAA;
          background:#F5F5F5;
        }

        /* targeting mobile screens */
        @media only screen and (max-width:480px){
          body{
            background-color: white;
          }
          .header-section{
            border-radius: 0px;
            box-shadow: none;
            margin-top: 45px;
          }
          .list-menu-wraper{
            width: 100%;
          }
          .button-top{
            margin-top: 10px;
          }
        }
  </style>
{% endblock %}
{% block content %}
 <!--Header section-->
  <section class="header-section container animate__animated">
    <form action="#" method="post">
      {% csrf_token %}
      <div style="display: block;width:100%">
        <h2>Bank Report Parameters</h2>
        <button type="reset" class="btn btn-outline-danger" style="margin-left: 25px;">Cancel Changes</button>
        <button type="submit" class="btn button-top">Generate New Report</button><br><br>
      </div>
      <!--Banks -->
      <div style="display: block;width:100%">
        <h3>Banks</h3>
        <div class="row" style="margin-bottom: 10px;">
          <div class="form-check col-md-12">
            <input class="form-check-input all-us-banks" type="radio" name="banks" value="All US banks" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              All US banks
            </label>
          </div>
        </div>

        <div class="row mb-1">
          <div class="form-check col-md-3 col-sm-12">
            <input class="form-check-input USbankswithbranchesinState" type="radio" name="banks" value="US banks with branches in State" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              US banks with branches in State
            </label>
          </div>
          <div class="col-md-9 col-sm-12">
            <select name="USbankswithbranchesinState" class="form-select form-inline-select allusbanks USbankswithbranchesinStateS" aria-label="Default select example" required>
              <option selected disabled value="">- Select -</option>
              {% for d in dm1 %}
                <option value="{{ d.value }}">{{ d.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row mb-1">
          <div class="form-check col-md-3 col-sm-12">
            <input class="form-check-input" type="radio" name="banks" value="US banks with branches near Location" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              US banks with branches near Location
            </label>
          </div>
          <div class="col-md-3 col-sm-12" style="position: relative">
            <input value=""  id="branchlocation" name="bankbranchlocation" type="text" class="form-control" placeholder="- Enter city, state -">
            <input value="default" style="display: none" id="branchlocation2" name="bankbranchlocation2" type="text" class="form-control" placeholder="-Enter city, state -">
            <div class="search-display" id="bankbranchlocationDiv" style="z-index: 10">
              <img src="{% static 'images/dataloader.gif' %}" alt="data loader" style="margin: 5px;display: none" id="dataloader">
            </div>
          </div>
          &nbsp;Within
          <div class="col-md-3 col-sm-12">
            <select class="form-select form-inline-select allusbanks" aria-label="Default select example" required>
              <option selected disabled value="">-Select-</option>
              {% for d in dm3 %}
                <option value="{{ d.value }}">{{ d.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row mb-1">
          <div class="form-check col-md-3">
            <input class="form-check-input" type="radio" name="banks" value="US banks in Bank Peer Group" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">
              US banks in Bank Peer Group
            </label>
          </div>
          <div class="col-md-9">
            <select class="form-select allusbanks" aria-label="Default select example" required>
              <option selected disabled value="">-Select-</option>
              {% for d in dm4 %}
                <option value="{{ d.value }}">[{{ forloop.counter }}] {{ d.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row mb-1">
          <div class="form-check col-md-2">
            <input class="form-check-input" type="radio" name="banks" value="Single US Bank" id="flexRadioDefault5">
            <label class="form-check-label" for="flexRadioDefault5">
              Single US Bank
            </label>
          </div>
          <div class="col-md-10" style="position: relative">
            <input value=""  id="singleusbank1" name="singleusbank" type="text" class="form-control" placeholder="- Enter Partial Bank Name -">
            <input value="default" style="display: none" id="singleusbank2" name="singleusbank" type="text" class="form-control" placeholder="-Enter city, state -">
            <div class="search-display" id="singleusBankDiv">
              <img src="{% static 'images/dataloader.gif' %}" alt="data loader" style="margin: 5px;display: none" id="dataloader2">
            </div>
          </div>
        </div>
      </div>

      <!--Periods-->
      <div style="margin-top: 40px;">
        <h3>Periods</h3>
        <div class="row mb-1">
          <div class="form-check col-md-3">
            <input class="form-check-input" type="radio" name="periods" value="4 consecutive quarterly reports ending" id="flexRadioDefault6">
            <label class="form-check-label" for="flexRadioDefault6">
              4 consecutive quarterly reports ending
            </label>
          </div>
          <div class="col-md-9">
            <select class="form-select form-inline-select" aria-label="Default select example" required>
              <option selected disabled value="">-Select-</option>
              {% for d in p1 %}
                <option value="{{ d.value }}">{{ d.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row mb-1">
          <div class="form-check col-md-3">
            <input class="form-check-input" type="radio" name="periods" value="4 consecutive year-end reports ending" id="flexRadioDefault7">
            <label class="form-check-label" for="flexRadioDefault7">
              4 consecutive year-end reports ending
            </label>
          </div>
          <div class="col-md-9">
            <select class="form-select form-inline-select" aria-label="Default select example" required>
              <option selected disabled value="">-Select-</option>
              {% for d in p2 %}
                <option value="{{ d.value }}">{{ d.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

      </div>

      <!--Data-->
      <div class="row" style="margin-top: 40px;">
        <div class="col-md-12">
          <h3 style="float: left;">Data</h3>
          <h3 style="text-decoration: none !important;float: left;margin-left: 10px;">- select up to 6</h3>
          <button id="clear-select-data" type="button" style="float: left;margin-left: 42px;" class="btn btn-outline-danger btn-sm">Clear Selected Data</button>
        </div>


        <!--Data Main Menu-->
        <div class="col-md-12 mt-2">
          <div class="list-menu-wraper">
            {% for d in ddm %}
              <p onclick="mainMenuDataFields('{{ d.label }}')" class="mainmenuitem" id="mainmenu{{ forloop.counter }}">{{ d.label }}<i class="fas fa-angle-right"></i></p>
            {% endfor %}
          </div>

          <!--###############-->
          <!--Data Menu 1 submenu-->
          <div class="sub-menu-wrapper" id="sm1" style="display: none">
            {% for d in sm1 %}
              <p onclick="subMenuDataFields('{{ d.label }}')" class="submenuitem" id="sm1submenu{{ forloop.counter }}">{{ d.label }}<i class="fas fa-angle-right"></i></p>
            {% endfor %}
          </div>
          <!--Menu 2 submenu-->
          <div class="sub-menu-wrapper" id="sm2" style="display: none">
            {% for d in sm2 %}
              <p onclick="subMenuDataFields('{{ d.label }}')" class="submenuitem" id="sm2submenu{{ forloop.counter }}">{{ d.label }}<i class="fas fa-angle-right"></i></p>
            {% endfor %}
          </div>
          <!--Menu 3 submenu-->
          <div class="sub-menu-wrapper" id="sm3" style="display: none">
            {% for d in sm3 %}
              <p onclick="subMenuDataFields('{{ d.label }}')" class="submenuitem" id="sm3submenu{{ forloop.counter }}">{{ d.label }}<i class="fas fa-angle-right"></i></p>
            {% endfor %}
          </div>
          <!--Menu 4 submenu-->
          <div class="sub-menu-wrapper" id="sm4" style="display: none">
            {% for d in sm4 %}
              <div class="form-check">
                <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input" type="checkbox" value="{{ d.label }}" id="flexCheck{{ forloop.counter }}">
                <label class="form-check-label" for="flexCheck{{ forloop.counter }}">
                  {{ d.label }}
                </label>
              </div>
            {% endfor %}
          </div>
          <!--Menu 5 submenu-->
          <div class="sub-menu-wrapper" id="sm5" style="display: none">
            {% for d in sm5 %}
              <p onclick="subMenuDataFields('{{ d.label }}')" class="submenuitem" id="sm5submenu{{ forloop.counter }}">{{ d.label }}<i class="fas fa-angle-right"></i></p>
            {% endfor %}
          </div>
          <!--Menu 6 submenu-->
          <div class="sub-menu-wrapper" id="sm6" style="display: none">
            {% for d in sm6 %}
              <p onclick="subMenuDataFields('{{ d.label }}')" class="submenuitem" id="sm6submenu{{ forloop.counter }}">{{ d.label }}<i class="fas fa-angle-right"></i></p>
            {% endfor %}
          </div>
          <!--Menu 7 submenu-->
          <div class="sub-menu-wrapper" id="sm7" style="display: none">
            {% for d in sm7 %}
              <div class="form-check">
                <input onclick="subinMenuDataFields('{{ d.id }}','{{ d.label }}')" class="form-check-input" type="checkbox" value="{{ d.label }}" id="flexCheck2{{ forloop.counter }}">
                <label class="form-check-label" for="flexCheck2{{ forloop.counter }}">
                  {{ d.label }}
                </label>
              </div>
            {% endfor %}
          </div>

          <!--########################## including sub in menu -->
          {% include 'form-data-part.html' %}

          <!--Data selected fields for js logics -->
          <input id="mainmenucounter" type="number" value="0" hidden>

          <!--Storing selected values in the input fields-->
          <input name="data1" id="data1" type="number" value="" hidden>
          <input name="data2" id="data2" type="number" value="" hidden>
          <input name="data3" id="data3" type="number" value="" hidden>
          <input name="data4" id="data4" type="number" value="" hidden>
          <input name="data5" id="data5" type="number" value="" hidden>
          <input name="data6" id="data6" type="number" value="" hidden>
          <input id="mainMenuText" type="text" hidden>
          <input id="subMenuText" type="text" hidden>
        </div>
      </div>

      <!--Data Selected-->
      <div class="row" style="margin-top: 40px;">
        <h3>Data Selected:</h3>
        <h4><span id="selected-data1" class="selecteddata"><span id="sd1"></span><span id="sd2"></span><span id="sd3"></span></span><span class="data-placeholder" id="data-placeholder1">Data #1</span></h4>
        <h4><span id="selected-data2" class="selecteddata"><span id="sd2-1"></span><span id="sd2-2"></span><span id="sd2-3"></span></span><span class="data-placeholder"  id="data-placeholder2">Data #2</span></h4>
        <h4><span id="selected-data3" class="selecteddata"><span id="sd3-1"></span><span id="sd3-2"></span><span id="sd3-3"></span></span><span class="data-placeholder"  id="data-placeholder3">Data #3</span></h4>
        <h4><span id="selected-data4" class="selecteddata"><span id="sd4-1"></span><span id="sd4-2"></span><span id="sd4-3"></span></span><span class="data-placeholder"  id="data-placeholder4">Data #4</span></h4>
        <h4><span id="selected-data5" class="selecteddata"><span id="sd5-1"></span><span id="sd5-2"></span><span id="sd5-3"></span></span><span class="data-placeholder"  id="data-placeholder5">Data #5</span></h4>
        <h4><span id="selected-data6" class="selecteddata"><span id="sd6-1"></span><span id="sd6-2"></span><span id="sd6-3"></span></span><span class="data-placeholder"  id="data-placeholder6">Data #6</span></h4>
      </div>
  </form>
  </section>

<script>
            // Declaring all the variables
            var mainCounter = $('#mainmenucounter').val();
            var data1 = $('#data1');
            var data2 = $('#data2');
            var data3 = $('#data3');
            var data4 = $('#data4');
            var data5 = $('#data5');
            var data6 = $('#data6');

          // Main Menu Data fields handling for data selection
          function mainMenuDataFields(fieldValue){
            var mainCounter = $('#mainmenucounter').val();
            var mainMenuValue = $('#mainMenuText').val();

            if(mainCounter==0){
              $('#data-placeholder1').hide();
              $('#sd1').html(fieldValue);
              $('#mainMenuText').val(fieldValue);
            }
            else if(mainCounter==1){
              $('#data-placeholder2').hide();
              $('#sd2').html(fieldValue);
              $('#mainMenuText').val(fieldValue);
            }
            else if(mainCounter==2){
              $('#data-placeholder2').hide();
              $('#sd3').html(fieldValue);
              $('#mainMenuText').val(fieldValue);
            }
            else if(mainCounter==3){
              $('#data-placeholder2').hide();
              $('#sd4').html(fieldValue);
              $('#mainMenuText').val(fieldValue);
            }
            else if(mainCounter==4){
              $('#data-placeholder2').hide();
              $('#sd5').html(fieldValue);
              $('#mainMenuText').val(fieldValue);
            }
            else if(mainCounter==5){
              $('#data-placeholder2').hide();
              $('#sd6').html(fieldValue);
              $('#mainMenuText').val(fieldValue);
            }
            else {
              window.alert("Maximum 6 data fields can be selected.");
            }
          }

          // Sub Menu Data fields handling for data selection
          function subMenuDataFields(fieldValue) {
            var mainCounter = $('#mainmenucounter').val();
            var subMenuValue = $('#subMenuText').val();
            var mainMenuValue2 = $('#mainMenuText').val();

            if(mainCounter==0){
              $('#data-placeholder1').hide();
              $('#sd1').html(mainMenuValue2);
              $('#sd2').html(" - "+fieldValue);
              $('#subMenuText').val(fieldValue);
            }
            else if(mainCounter==1){
              $('#data-placeholder2').hide();
              $('#sd2-1').html(mainMenuValue2);
              $('#sd2-2').html(" - "+fieldValue);
            }
            else if(mainCounter==2){
              $('#data-placeholder3').hide();
              $('#sd3-1').html(mainMenuValue2);
              $('#sd3-2').html(" - "+fieldValue);
              $('#subMenuText').val(fieldValue);
            }
            else if(mainCounter==3){
              $('#data-placeholder4').hide();
              $('#sd4-1').html(mainMenuValue2);
              $('#sd4-2').html(" - "+fieldValue);
              $('#subMenuText').val(fieldValue);
            }
            else if(mainCounter==4){
              $('#data-placeholder5').hide();
              $('#sd5-1').html(mainMenuValue2);
              $('#sd5-2').html(" - "+fieldValue);
              $('#subMenuText').val(fieldValue);
            }
            else if(mainCounter==5){
              $('#data-placeholder6').hide();
              $('#sd6-1').html(mainMenuValue2);
              $('#sd6-2').html(" - "+fieldValue);
              $('#subMenuText').val(fieldValue);
            }
            else {
              window.alert("Maximum 6 data fields can be selected.");
            }
          }

          // Sub in Menu Data fields handling for data selection
          function subinMenuDataFields(id,label) {
            var mainCounter = $('#mainmenucounter').val();
            var mainMenuValue = $('#mainMenuText').val();
            var subMenuValue = $('#subMenuText').val();

            if(mainCounter==0){
              data1.val(id);
              $('#mainmenucounter').val(1)
              $('#data-placeholder1').hide();
              $('#sd1').html(mainMenuValue);
              $('#sd2').html(" - "+subMenuValue);
              $('#sd3').html(" - "+label);
            }
            else if(mainCounter==1){
              data2.val(id);
              $('#mainmenucounter').val(2);
              $('#data-placeholder2').hide();
              $('#sd2-1').html(mainMenuValue);
              $('#sd2-2').html(" - "+subMenuValue);
              $('#sd2-3').html(" - "+label);
            }
            else if(mainCounter==2){
              data3.val(id);
              $('#mainmenucounter').val(3)
              $('#data-placeholder3').hide();
              $('#sd3-1').html(mainMenuValue);
              $('#sd3-2').html(" - "+subMenuValue);
              $('#sd3-3').html(" - "+label);
            }
            else if(mainCounter==3){
              data4.val(id);
              $('#mainmenucounter').val(4)
              $('#data-placeholder4').hide();
              $('#sd4-1').html(mainMenuValue);
              $('#sd4-2').html(" - "+subMenuValue);
              $('#sd4-3').html(" - "+label);
            }
            else if(mainCounter==4){
              data5.val(id);
              $('#mainmenucounter').val(5)
              $('#data-placeholder5').hide();
              $('#sd5-1').html(mainMenuValue);
              $('#sd5-2').html(" - "+subMenuValue);
              $('#sd5-3').html(" - "+label);
            }
            else if(mainCounter==5){
              data6.val(id);
              $('#mainmenucounter').val(6)
              $('#data-placeholder6').hide();
              $('#sd6-1').html(mainMenuValue);
              $('#sd6-2').html(" - "+subMenuValue);
              $('#sd6-3').html(" - "+label);
              $('.form-check-input').addClass('disable');
            }
            else {
              window.alert("Maximum 6 data fields can be selected.");
            }
          }



          // clear selected data
            $('#clear-select-data').click(function () {
                  // clearing everything
                  $('#mainmenucounter').val(0);
                  data1.val('');
                  data2.val('');
                  data3.val('');
                  data4.val('');
                  data5.val('');
                  data6.val('');
                  $('p').removeClass('menu-active-class');
                  $('#sd1').html('');
                  $('#sd2').html('');
                  $('#sd3').html('');
                  $('#sd2-1').html('');
                  $('#sd2-2').html('');
                  $('#sd2-3').html('');
                  $('#sd3-1').html('');
                  $('#sd3-2').html('');
                  $('#sd3-3').html('');
                  $('#sd4-1').html('');
                  $('#sd4-2').html('');
                  $('#sd4-3').html('');
                  $('#sd5-1').html('');
                  $('#sd5-2').html('');
                  $('#sd5-3').html('');
                  $('#sd6-1').html('');
                  $('#sd6-2').html('');
                  $('#sd6-3').html('');
                  $('.data-placeholder').show();
                  $('.sub-menu-wrapper').hide();
                  $('.sub-in-menu-wrapper').hide();
                  $('.form-check-input').prop('checked', false);
                  $('.form-check-input').removeClass('disable');
              });












          // drop down menu js logics
          $(document).ready(function () {
            // Main menu logic
            $('#mainmenu1').click(function () {
              $('.mainmenuitem').removeClass('menu-active-class');
              $(this).addClass('menu-active-class');
              $('.sub-menu-wrapper').hide();
              $('#sm1').show();
              $('.sub-in-menu-wrapper').hide();
            })
            $('#mainmenu2').click(function () {
              $('.mainmenuitem').removeClass('menu-active-class');
              $(this).addClass('menu-active-class');
              $('.sub-menu-wrapper').hide();
              $('#sm2').show();
              $('.sub-in-menu-wrapper').hide();
            })
            $('#mainmenu3').click(function () {
              $('.mainmenuitem').removeClass('menu-active-class');
              $(this).addClass('menu-active-class');
              $('.sub-menu-wrapper').hide();
              $('#sm3').show();
              $('.sub-in-menu-wrapper').hide();
            })
            $('#mainmenu4').click(function () {
              $('.mainmenuitem').removeClass('menu-active-class');
              $(this).addClass('menu-active-class');
              $('.sub-menu-wrapper').hide();
              $('#sm4').show();
              $('.sub-in-menu-wrapper').hide();
            })
            $('#mainmenu5').click(function () {
              $('.mainmenuitem').removeClass('menu-active-class');
              $(this).addClass('menu-active-class');
              $('.sub-menu-wrapper').hide();
              $('#sm5').show();
              $('.sub-in-menu-wrapper').hide();
            })
            $('#mainmenu6').click(function () {
              $('.mainmenuitem').removeClass('menu-active-class');
              $(this).addClass('menu-active-class');
              $('.sub-menu-wrapper').hide();
              $('#sm6').show();
              $('.sub-in-menu-wrapper').hide();
            })
            $('#mainmenu7').click(function () {
              $('.mainmenuitem').removeClass('menu-active-class');
              $(this).addClass('menu-active-class');
              $('.sub-menu-wrapper').hide();
              $('#sm7').show();
              $('.sub-in-menu-wrapper').hide();
            })


          });
        </script>

  {% block jslogics %}
      <script>

      //adding animation on full load to the header section
      $(window).on('load',function () {
        $('.header-section').addClass('animate__fadeInUp');
      });

      /*##################################*/
      // Bank city, state logic
       $(document).ready(function(){
              $("#branchlocation").keypress(function(){
                var inputVal = $("#branchlocation").val();
                // setting value to none for hidden field in order to show search modal
                var inputVal2 = $("#branchlocation2");
                inputVal2.val("");
                $.ajax({
                  type:'GET',
                  url: "bankstates/"+inputVal,
                  data: inputVal,
                  beforeSend: function () {
                    $('#dataloader').show();
                  },
                  success: (res)=>{
                    $('#dataloader').hide();
                    console.log(res.data);
                    var bankbranchlocationDiv = document.getElementById('bankbranchlocationDiv');
                    const data = res.data;
                    bankbranchlocationDiv.innerHTML += "";
                    if(Array.isArray(data)){
                      bankbranchlocationDiv.innerHTML = "";
                      // now displaying the search results
                      data.forEach(items=>{
                        bankbranchlocationDiv.innerHTML += `
                          <p class="data-item" onclick="setSearchValues('${items.city}','${items.state}')">${items.city}, ${items.state}</p>
                          `
                      })
                    }
                    else {
                      if($('.form-control').val().length > 0){
                        bankbranchlocationDiv.innerHTML = '';
                        bankbranchlocationDiv.innerHTML += `
                        <span style="padding: 10px">${data}</span>
                        `;
                      }
                    }
                  },
                  error: (err=>{
                     console.log(err);
                  })
                });
              });
              // Hiding and showing the list wrapper
              setInterval(function () {
                // state city search field logic
                if($('#branchlocation2').val().length == 0){
                        $('#bankbranchlocationDiv').show();
                      }
                else if($('#branchlocation').val().length == 0){
                        $('#bankbranchlocationDiv').hide();
                      }
                else {
                  $('#bankbranchlocationDiv').hide();
                }
                // single us bank logic
                if($('#singleusbank2').val().length == 0){
                        $('#singleusBankDiv').show();
                      }
                else if($('#singleusbank1').val().length == 0){
                        $('#singleusBankDiv').hide();
                      }
                else {
                  $('#singleusBankDiv').hide();
                }

              },1000)

            });


          // Getting data from the forloop live search function for city and state
          function setSearchValues(city, state) {
            var c = city;
            var s = state;

            var actualSearchField = document.getElementById('branchlocation');
            var hiddenSearchField = document.getElementById('branchlocation2');
            // storing value in the search input field
            actualSearchField.value = c + ", " + s;
            hiddenSearchField.value = c;
          }

          // Getting data from the forloop live search function for bank name
          function setBankName(bankname, rssid) {
            var bname = bankname;
            var rsid = rssid;

            var actualSearchField = document.getElementById('singleusbank1');
            var hiddenSearchField = document.getElementById('singleusbank2');
            // storing value in the search input field
            actualSearchField.value = bname;
            hiddenSearchField.value = rsid;
          }


          $(document).ready(function () {
            // logic for single us bank search
          $("#singleusbank1").keypress(function () {
            var inputVal = $("#singleusbank1").val();
            // setting value to none for hidden field in order to show search modal
            var inputVal2 = $("#singleusbank2");
            inputVal2.val("");
            $.ajax({
              type: 'GET',
              url: "singleusbank/" + inputVal,
              data: inputVal,
              beforeSend: function () {
                $('#dataloader2').show();
              },
              success: (res) => {
                $('#dataloader2').hide();
                console.log(res.data);
                var bankbranchlocationDiv = document.getElementById('singleusBankDiv');
                const data = res.data;
                bankbranchlocationDiv.innerHTML += "";
                if (Array.isArray(data)) {
                  bankbranchlocationDiv.innerHTML = "";
                  // now displaying the search results
                  data.forEach(items => {
                    bankbranchlocationDiv.innerHTML += `
                            <p class="data-item" onclick="setBankName('${items.bankname}','${items.rssid}')">${items.bankname}</p>
                            `
                  })
                } else {
                  if ($('.form-control').val().length > 0) {
                    bankbranchlocationDiv.innerHTML = '';
                    bankbranchlocationDiv.innerHTML += `
                          <span style="padding: 10px">${data}</span>
                          `;
                  }
                }
              },
              error: (err => {
                console.log(err);
              })
            });
          });
          })
      </script>
    {% endblock %}

{% endblock %}
